@page "/"
@inject IEventi eventiService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MyFirstComponent/>

<ListaEventi Titolo="Eventi in Web Assembly" Eventi="EventiFuturi"></ListaEventi>

@code {

    private List<Evento> EventiFuturi { get; set; } = new();

    protected override  void OnInitialized()
    {
        EventiFuturi = eventiService.EstraiEventiFuturi().ToList();
    }
}